<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <%= link_to "Test app", root_path, class: 'navbar-brand text-white' %>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="Navber" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'ユーザー', root_path, class: 'nav-link text-white' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= gravatar_for(current_user, 20) %>
              <strong><%= current_user.username %></strong>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item"><%= link_to current_user.username, user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'サインアップ', new_user_registration_path, class: 'text-white' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'text-white pl-3' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
